# Browser configuration
BROWSER_HEADLESS=False
BROWSER_USER_DATA_DIR=./browser_data/profiles/
BROWSER_EXTENSION_PATH=./browser_data/extensions/

# Account
ACCOUNT_USERNAME=TmfBm6e4OQ

# Purchase manager settings
PURCHASE_MANAGER_MAX_CONCURRENT=3
PURCHASE_MANAGER_HISTORY_FILE_PATH=purchases.csv
